[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mysqlclient = "*"

[packages]
django = "*"
requests = "*"
pytest-django = "*"
pytest-cov = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
selenium = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
