{% extends "base.html" %}

{% load static %}

{% block content %}

{% include 'base_title_section.html' %}

  <!-- Product Result Section -->
  <section id="product-result">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 text-center">
          <h2>Choisissez votre produit actuel : </h2>
        </div>
        {% if not object_list %}
          <div class="alert alert-warning">Il n'y a pas de produits correspondant à {{title|title}}</div>
        {% endif %}
        {% for product in object_list %}
          <div class="col-12 col-lg-4">
            <div class="product-thumb">
              <div class="nutriscore nutriscore-{{product.nutrition_grades|upper}} text-center"></div>
                <a href="{% url target product.id %}">
                  <img src="{{product.image_url}}" class="rounded mx-auto d-block" alt="">
                </a>
                <div class="product-thumb-legend">
                  <p class="text-center">{{product|title}}</p>
                </div>
            </div>
          </div>
        {% endfor %}
        {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Précédente</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Suivante</a>
                  {% endif %}
              </span>
          </div>
        {% endif %}
      </div>
    </div>
</section>

{% endblock content %}
