body {
    font-family: "Scope One", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans", sans-serif;
    margin-bottom: 24px;
    margin-top: 12px;
}

footer{
    /* position set in ../js/front.js */
    bottom: 0px;
    left: 0px;
    right: 0px;
}

hr.divider{
    border-color: #345A61;
}
.bg-primary{
    background-color: #DE9440!important;
}
.bg-secondary {
    background-color: #E8A75D!important;
}

#nav-brand-img{
    height: 40px;
}

#about img{
    height: 250px;
}

.bg-product-search img{
    position: absolute;
    opacity: 0.5;
    left: 35%;
    top: 30px;
    z-index: 100;
}
.bg-product-search h1{
    z-index: 200;
}

.bg-user-name{
    padding-top: 10rem;
    background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(../img/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.product-thumb {
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 300px;
    height: 300px;
    position: relative;
    border: #DE9440 solid 2px;
    border-radius: 10px;
}

.product-thumb-legend{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.product-thumb img{
    padding-top: 0.5em;
    margin-top: 0.5em;
    max-width:80%;
    max-height: 70%;
}
.product-thumb p{
    max-width:200px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 1em;
}

.product-thumb-myproduct {
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 300px;
    height: 300px;
    position: relative;
    border: #DE9440 solid 2px;
    border-radius: 10px;
}
.product-thumb-myproduct img{
    padding-top: 0.5em;
    margin-top: 0.5em;
    max-width:80%;
    max-height: 70%;
}
.product-thumb-myproduct p{
    max-width:200px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 1em;
}

.fa-arrow-right,.fa-trash-alt{
    /* background-color: #e63e11; */
    font-size: 3rem;
}

/* Nutriscore */
.nutriscore{
    position: absolute;
    font-weight: 700;
    color: white;
    right: 0.3rem;
    top: 0.3rem;
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    font-size: 3rem; 
}
.nutriscore-A{background-color: #038141;}
.nutriscore-A::after{content: "A";}
.nutriscore-B{background-color: #85bb2f;}
.nutriscore-B::after{content: "B";}
.nutriscore-C{background-color: #fecb02;}
.nutriscore-C::after{content: "C";}
.nutriscore-D{background-color: #ee8100;}
.nutriscore-D::after{content: "D";}
.nutriscore-E{background-color: #e63e11;}
.nutriscore-E::after{content: "E";}
.nutriscore-Z{background-color: black;}
.nutriscore-Z::after{content: "?";}

/* Nutrient Levels */
ul.nutrient-levels{
    padding-left: 0;
}
ul.nutrient-levels li{
    padding: 10px 0 10px 50px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}
li.moderate {background-image: url('../img/nutricode/moderate.svg');}
li.high {background-image: url('../img/nutricode/high.svg');}
li.low {background-image: url('../img/nutricode/low.svg');}

#product-detail button{
    margin: 40px;
}

/* Authentication */

.auth-form p{
    width: 100%;
}

/* mobile version */
@media (max-width: 480px) {

    .product-thumb {
        max-width:100%;
    }
    .product-thumb-myproduct {
        margin: auto;
        margin-bottom: 2vh;
        margin-top: 2vh;
        width:100%;
        height: 12rem;
        position: relative;
        border: #DE9440 solid 2px;
        border-radius: 10px;
    }
    .product-thumb-myproduct img{
        padding-top: 0.5em;
        margin-top: 0.5em;
        max-width:80%;
        max-height: 50%;
    }
    .product-thumb-myproduct p{
        max-width:200px;
        margin: auto;
        padding-top: 5px;
        padding-bottom: 15px;
        font-size: 1em;
    }
    .product-thumb-myproduct > .nutriscore{
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
        font-size: 1.5rem; 
    }
    .fa-arrow-right,.fa-trash-alt{
        font-size: 2rem;
    }
}